#########################################################################
# - NOT CHANGE - 
# 1. Create phase1 and phase2 IPSEC ADVPN
# 2. Update interface IPSEC IP
#########################################################################
// Create IPSEC phase1
resource "fortios_vpnipsec_phase1interface" "advpn-public" {
    name                = "advpn-public"
    remote_gw           = var.vpc-hub["advpn_pip"]
    psksecret           = local.externalid_token
    proposal            = "aes128-sha256 aes256-sha256 aes128-sha1 aes256-sha1"
    interface           = "port2"
    nattraversal        = "enable"
    net_device          = "enable"
    add_route           = "disable"
    add_gw_route        = "disable"
    dpd                 = "on-idle"
    dpd_retryinterval   = "5"
    ike_version         = "2"
    authmethod          = "psk"
    passive_mode        = "disable"
    peertype            = "any"
    type                = "static"
    keylife             = 86400
    keepalive           = 10

    auto_discovery_receiver = "enable"
}
// Create IPSEC phase2
resource "fortios_vpnipsec_phase2interface" "advpn-public" {
    name                = "advpn-public"   
    auto_negotiate      = "enable"
    keylife_type        = "seconds"
    keylifeseconds      = "27000"
    encapsulation       = "tunnel-mode"
    phase1name          = fortios_vpnipsec_phase1interface.advpn-public.name
    proposal            = "aes128-sha1 aes256-sha1 aes128-sha256 aes256-sha256"
}
// Update interface IP
resource "fortios_system_interface" "advpn-public" {
    vdom                = "root"
    name                = fortios_vpnipsec_phase1interface.advpn-public.name
    ip                  = "${local.local_advpn_ip} 255.255.255.255"
    remote_ip           = "${local.hub_advpn_i-ip} 255.255.255.0"
    interface           = "port2"
    allowaccess         = "ping"
    
    autogenerated       = "auto"
    depends_on          = [fortios_vpnipsec_phase1interface.advpn-public]
}
