##############################################################################################################
# IMPORTANT - Update with provided Access key and secret key
##############################################################################################################
// AWS Environment
account_id          = "<Account ID>" 
access_key          = "<AWS Access Key>"
secret_key          = "<AWS Secret Key>"
externalid_token    = "<ExternalID token>"