##############################################################################################################
# IMPORTANT - Update with provided Access key and secret key
##############################################################################################################
access_key = "xxxx"
secret_key = "xxxx"

